@media screen and (max-width: 600px) {
    body {
        max-width: auto;
        min-width: auto;
        height: auto;
    }

    header {
        margin: 20px 10px;
    }
    /* nav responsive */
    nav {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }

    .left-side{
        gap: 10px;
    }
    .left-side img{
        width: 28px;
        height: 32px;
    }
    .left-side h2{
        font-size: 20px;
    }

    .right-side {
        display: none;
    }

    .menu {
        display: block;
    }
    /* bannner responsive */
    .banner {
        background-size: auto;
        padding: 20px;
        border-radius: 16px;
        padding: 32px 24px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .banner h1 {
        font-size: 22px;
    }

    .banner p {
        font-size: 14px;
        margin: 8px 0 30px 0;
    }

    .input-box {
        flex-direction: column;
        min-width: auto;
    }

    .input-box input,
    button,
    .input-box select {
        width: 100%;
    }

    /* popular section responsive */
        main{
            margin: 20px 10px;
        }
    .popular-tours{
        flex-direction: column;
        margin: 20px 0;
        gap: 20px;
    }
    .popular-left-side h2,
    .text-content h2{
        font-size: 20px;
    }
    .popular-left-side p,
    .text-content p, 
    .popular-left-side h6{
        font-size: 14px;
        margin: 16px 0;
    }
    .popular-left-side button{
        width: 50%;
        padding: 16px;
    }
    .popular-right-side img{
        width: 100%;
    }

    /* chose dectination responsive */

    .chose-dectination{
        margin: 20px 0;
    }
    .img-container{
       display: block;
    }
    .img-container img{
        height: 175px;
        margin-bottom: 16px;
    }

    /* why us */
    .card-section{
        flex-direction: column;
    }

    .card{
        width: 100%;
    }


    /* deals and discount section  */

    .card-nav{
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .card2 > .card-content,
    .card-content{
        padding: 16px;
        width: 80%;
        margin: 0 auto;
        top: auto;
        bottom: 16px;
        right: 16px;
        left: 16px;
    }
    .card-content h2{
        font-size: 20px;
        margin: 10px 0;
    }
    .card-content p{
        font-size: 14px;
        width: 250px;
        height: 44px;
        overflow: hidden;
    }
    .card-content h4{
        font-size: 16px;
        margin: 10px 0;
    }

    /* perfect place */
    .perfect-place{
        flex-direction: column;
    }
    .perfect-place-content{
        width: 100%;
    }
    .perfect-place-content h2{
        font-size: 20px;
        line-height: 40px;
    }
    .perfect-place-content p{
        margin: 10px 0;
    }
    .perfect-place-content button{
        width: 50%;
    }
    .perfect-place-img{
        width: 100%;
    }
    .perfect-place-img img{
        width: 100%;
    }
}