@media screen and (max-width: 600px) {
    body {
        max-width: auto;
        min-width: auto;
        height: auto;
    }

    header {
        margin: 20px 10px;
    }
    /* nav responsive */
    nav {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }

    .left-side{
        gap: 10px;
    }
    .left-side img{
        width: 28px;
        height: 32px;
    }
    .left-side h2{
        font-size: 20px;
    }

   
    .nav-item a {
        display: none;
    }

    .menu {
        display: block;
        padding: 8px;
    }

    /* bannner responsive */
    .banner {
        background-size: auto;
        padding: 20px;
        border-radius: 16px;
        padding: 32px 24px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .banner h1 {
        font-size: 22px;
    }

    .banner p {
        font-size: 14px;
        margin: 8px 0 30px 0;
    }

    .input-box {
        flex-direction: column;
        min-width: auto;
    }

    .input-box input,
    button,
    .input-box select {
        width: 100%;
    }

    /* popular section responsive */
        main{
            margin: 20px 10px;
        }
    .popular-tours{
        flex-direction: column;
        margin: 20px 0;
        gap: 20px;
    }
    .popular-left-side h2,
    .text-content h2{
        font-size: 20px;
    }
    .popular-left-side p,
    .text-content p, 
    .popular-left-side h6{
        font-size: 14px;
        margin: 16px 0;
    }
    .popular-left-side button{
        width: 50%;
        padding: 16px;
    }
    .popular-right-side img{
        width: 100%;
    }

    /* chose dectination responsive */

    .chose-dectination{
        margin: 20px 0;
    }
    .img-container{
       grid-template-areas: "md"
                            "indi"
                            "sri"
                            "na"
                            "ksmir"
                            "bang"
                            "band";
                            gap: 16px;
    }
    .img-container img{
        height: 175px;
    }

    /* why us */
    .card-section{
        flex-direction: column;
    }

    .card{
        width: 100%;
    }


    /* deals and discount section  */

    .card-nav{
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .card2 > .card-content,
    .card-content{
        padding: 16px;
        width: 80%;
        margin: 0 auto;
        top: auto;
        bottom: 16px;
        right: 16px;
        left: 16px;
    }
    .card-content h2{
        font-size: 20px;
        margin: 10px 0;
    }
    .card-content p{
        font-size: 14px;
        
    }
    .card-content h4{
        font-size: 16px;
        margin: 10px 0;
    }

    /* perfect place */
    .perfect-place{
        flex-direction: column;
    }
    .perfect-place-content{
        width: 100%;
    }
    .perfect-place-content h2{
        font-size: 20px;
        line-height: 40px;
    }
    .perfect-place-content p{
        margin: 10px 0;
    }
    .perfect-place-content button{
        width: 50%;
    }
    .perfect-place-img{
        width: 100%;
    }
    .perfect-place-img img{
        width: 100%;
    }

    /* newsletter section responsive */

    .newsletter{
        flex-direction: column;
        margin: 10px 0;
    }
    .form-div{
        width: 100%;
    }

    .news-img{
        width: 100%;
    }
    .news img{
        width: 100%;
        height: 400px;
    }
    .save{
        width: 240px;
        height: auto;
        padding: 10px;
        bottom: 18.5%;
        right: -22px;
    }
    .save h6{
        font-size: 14px;
    }
    .save h2{
        font-size: 20px;
    }
    /* map section responsive */

    .map-section{
        padding: 15px;
        margin: 10px 0;
    }
    .map-section h2{
        font-size: 40px;
    }
    .map-section p{
        font-size: 14px;
    }
    
    .mail i{
        font-size: 20px;
    }
    .mail p{
        font-size: 20px;
    }
    /* footer section responsive */

        footer{
            margin: 10px;
            padding: 30px 35px;
            text-align: center;
        }
    .logo{
        gap: 0;
    }
    
    .logo h2{
        font-size: 20px;
    }
    .logo span{
        font-size: 20px;
    }
    .logo img{
        width: 25px;
        height: 25px;
    }

    .footer-content p{
        font-size: 14px;
        width: 100%;
    }
    footer hr{
        margin: 20px 0;
    }
}


@media screen and (min-width: 600px) and (max-width: 992px) {
    header {
        margin: 40px 80px;
    }
    main{
        margin: 40px 80px;
    }
    footer{
        padding: 40px 80px;
    }
    /* I think desktop view and tablet view are similar. And I want to Keep this Same. So that I don't Do this responsive fot tablet. IF you want to give me number , You can.   */
    
}