  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Mulish', sans-serif;
  }

  /* shared item style */

  .btn-prime {
      color: #FFF;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      border: none;
      border-radius: 8px;
      background: #FF5400;
  }

  body {
      min-width: 1440px;
  }

  /* header item style */

  header {
      margin: 50px 130px;
  }

  nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 45px;
  }

  .left-side {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
  }

  .left-side img {
      width: 48px;
      height: 56px;
  }

  .left-side h2 {
      color: #131318;
      font-size: 36px;
      font-weight: 800;
  }


  .right-side ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 44px;
  }

  .right-side ul li {
      list-style: none;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
  }

  .right-side a {
      text-decoration: none;
      color: #424247;
  }

  /* hamburger item for responsive */
  /* .hamburg, */
  .menu,
  .close {
      display: none;
      cursor: pointer;
      padding: 20px;
      font-size: 30px;
  }

  .hamburg .nav-item {
      display: none;
  }

  .hamburg ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
  }

  .hamburg ul li {
      list-style: none;
      text-align: left;
      font-size: 18px;
      font-weight: 400;
  }

  .hamburg a {
      text-decoration: none;
      color: #424247;
  }

  /* banner section style */

  .banner {
      background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/banner-background.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      text-align: center;
      border: none;
      border-radius: 5px;
      padding: 105px 180px;
  }

  .banner h1 {
      color: #FFF;
      font-size: 64px;
      font-weight: 800;
      text-align: center;
  }

  .banner p {
      color: #FFF;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      margin: 24px 0 48px 0;
  }


  .input-box {
      display: flex;
      /* align-items: flex-start; */
      gap: 24px;
      padding: 16px;
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.30);
      min-width: 800px;
  }

  .input-box input,
  button,
  .input-box select {
      flex: 1;
      width: calc(800px / 4);
      height: 52px;
      border-radius: 8px;
      background: #FFF;
      padding: 16px;
      color: rgba(19, 19, 24, 0.50);
      font-size: 16px;
      font-weight: 400;
      border: none;
  }

  /* main section starts */
  main {
      margin: 50px 130px;
  }

  /* popular section styles */

  .popular-tours {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 55px;
      margin: 50px 0;
  }

  .popular-left-side h2 {
      color: #131318;
      font-size: 40px;
      font-weight: 800;
  }

  .popular-left-side p {
      color: rgba(19, 19, 24, 0.70);
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      margin: 16px 0;
  }

  .popular-left-side ul {
      margin: 24px 0 24px 17px;
  }

  .popular-left-side ul li h6 {
      color: rgba(19, 19, 24, 0.70);
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
  }

  .popular-left-side ul li {
      margin: 8px 0;
  }

  .popular-left-side button {
      margin-top: 16px;
  }


  /* chose dectionation section styles */

  .chose-destination {
    margin: 50px 0;
    text-align: center;
  }

  .text-content h2 {
      color: #131318;
      text-align: center;
      font-size: 40px;
      font-weight: 800;
  }

  .text-content p {
      color: rgba(19, 19, 24, 0.70);
      font-size: 16px;
      font-weight: 400;
  }

  .img-container {
      display: grid;
      grid-template-areas: "md md md md md md indi indi indi indi indi indi"
          " sri sri sri sri na na na na na ksmir ksmir ksmir "
          "bang bang bang bang bang band band band band band band band";
      gap: 24px;
  }

  .img-box1 {
      grid-area: md;
      position: relative;

  }

  .img-box2 {
      grid-area: indi;
      position: relative;

  }

  .img-box3 {
      grid-area: sri;
      position: relative;

  }

  .img-box4 {
      grid-area: na;
      position: relative;

  }

  .img-box5 {
      grid-area: ksmir;
      position: relative;

  }

  .img-box6 {
      grid-area: bang;
      position: relative;

  }

  .img-box7 {
      grid-area: band;
      position: relative;
  }
  .img-container h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
  }

  .img-container img {
      width: 100%;
  }